@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inconsolata:wght@200..900&display=swap');

:root {
    --AzuL-escuro: #2e5266ff;
    --Cinza-forte: #6e8898ff;
    --cinza-claro: #9fb1bcff;
    --Bege-acizentado: #d3d0cbff;

    --titulo:"Alfa Slab One", serif;
    --texto: "Inconsolata", monospace;
}
body{
background-color: var(--Bege-acizentado);
font-family: var(--texto);
margin: 0;
padding: 0%;
display: flex;
align-items: center;
justify-content: center;
}
main{
margin-top: 20px;
max-width: 90%;
text-align: center;
}
button{
font-family: var(--titulo);
background-color: var(--cinza-claro);
color: var(--Cinza-forte);
border: 2px solid var(--Bege-acizentado);
padding: 20px 30px;
margin: 10px 0;
cursor: pointer;
border-radius: 10px;
font-size: 20px;
}
button:hover{
background-color: var(--AzuL-escuro);
color: var(--Bege-acizentado);
transition: 0.5;
}